body { /*Use to select an element in HTML*/
    font-family: Arial; /*Sets the type of font*/
    background-color: #c28fbc; /*Sets the background of the selected element*/
    text-align: center; /*aligns the text at the center of the page*/
}

nav { /*Use to select an element in HTML*/
    margin-bottom: 20px; /*adds space below the heading*/
    background-color: beige; /*Sets the background of the selected element*/
    text-align: center; /*aligns the text at the center of the page*/
}

nav a { /*Use to select an element in HTML*/
    color: violet; /*sets the text color*/
    text-align: center; /*aligns the text at the center of the page*/
}

.content { /*Use to select an element in HTML*/
    background-color: #d9b2d4; /*Sets the background of the selected element*/
    text-align: center; /*aligns the text at the center of the page*/
}

.btn { /*Use to select an element in HTML*/
    display: inline-block; /*controls the displayed element on the webpage*/
    padding: 8px 15px; /*Adds space inside the element. 15px-top/bottm and 30px-left/right*/
    background-color: #d9b2d4; /*Sets the background of the selected element*/
    color: white; /*sets the text color*/
    text-align: center; /*aligns the text at the center of the page*/
}